html {
    font-family: 'Lato';
}

header {
    height: 100vh;
    background-image: url('../media/back10.jpg');
    background-size: cover;
    background-position: 100% 15%;
}

nav {
    height: 6rem;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logobox {
    height: 6rem;

    img {
        height: 100%;
    }
}

.navlist {
    list-style-type: none;
    display: flex;

    li {
        padding-left: 3rem;
        font-weight: bold;
    }

    a {
        padding-left: 3rem;
        font-weight: bold;
        text-decoration: none;
        color: black;

        &:active {
            color: red;
        }
    }
}

.hero {
    display: flex;
    width: 75%;
    margin: 0 auto;
    height: calc(100vh - 6rem);
}

.herotext {
    
    h2 {
        font-size: 350%;
        padding-top: 6rem;
    }

    p {
        font-size: 150%;
        padding-top: 3rem;
    }
}

.buffer {
    width: 50%;
}

.skills {
    background-color: #e2c9c5;
    border-top: 2px solid black;

    h3 {
        padding-top: 5rem;
        padding-bottom: 3rem;
        font-size: 200%;
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 125%;
        padding-bottom: 3rem;
    }
}

.skillcards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skillcard {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 75%;
        padding: 1rem 0;
    }

    h4 {
        font-size: 150%;
        text-align: center;
    }
}

.history {
    background-color: #C0E8D5;

    h3 {
        font-size: 150%;
        text-align: center;
        padding-top: 3rem;
    }
}

.clients {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    img {
        width: 22%;
        height: 300px;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }
    }
}

.testimonials {
    background-color: #C0E8D5;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    h3 {
        font-size: 200%;
        text-align: center;
        padding: 3rem 0;
    }
}

.quotebody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.quotetext {
    margin: 0 2rem 3.5rem;
}

.part1 {
    font-size: 150%;
    margin-bottom: 2rem;
}

.part2 {
    font-style: italic;
}

.arrow {
    font-size: 500%;
}

.contact {
    background-color: #C0E8D5;
    padding-top: 3rem;

    h3 {
        font-size: 200%;
        text-align: center;
        padding: 3rem 0;
    }
}

.contactbox {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: red;
        }
    }
}

.socials {
    display: flex;
    
    a {
        padding: 0 1rem;
    }
}