nav {
    height: 6rem;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logobox {
    height: 6rem;

    img {
        height: 100%;
    }
}

.navlist {
    list-style-type: none;
    display: flex;

    li {
        padding-left: 3rem;
    }
}