.abouthead {
    height: 100vh;
    background-image: url('../../media/back20.jpg');
    background-size: cover;
}

nav {
    height: 6rem;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logobox {
    height: 6rem;

    img {
        height: 100%;
    }
}

.navlist {
    list-style-type: none;
    display: flex;

    li {
        padding-left: 3rem;
        font-weight: bold;
    }

    a {
        padding-left: 3rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
}

.abouttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    color: #191919;
    width: 40%;
    margin-top: 5rem;
    margin-right: 15rem;
    margin-left: auto;

    h2 {
        font-size: 250%;
        padding-bottom: 2rem;
    }

    p {
        font-size: 150%;
    }

    button {
        width: 25%;
        margin-top: 3rem;
        padding: 0.75rem 0;
        background-color: #edb3af;
        border: 2px solid #191919;
        border-radius: 5em;
    }
}

.bio {
    display: flex;
}

.biobox {
    width: 50%;
    background-color: #E7E0ED;
    img {
        margin-left: 5rem;
    }
}

.textbox {
    width: 50%;
    background-color: #EDEAE0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        padding: 0.5rem 1.5rem;
        font-size: 150%;
    }
}

.edusection {
    background-color: #7802E6;
    color: white;
}

.edubox {
    width: 75%;
    margin: 0 auto;

    h3 {
        padding: 3rem 0;
        text-align: center;
    }
}

.edu {

    ul {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5rem;

        li {
            margin: 1rem 1rem;
            width: 30%;
        }
    }
}
 
.resume {
    text-align: center;
    padding-bottom: 4rem;

    button {
        background-color: #7802E6;
        color: white;
        border: 2px solid white;
        padding: 0.75rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1024px) {
    .abouthead {
        width: 100vw;
        height: 60vh;
    }

    .edu {

        ul {
            justify-content: space-between;
    
            li {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .abouthead {
        height: 100vh;
    }

    .abouttext {
        margin-right: 0;
    }

    .navlist {
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
    
        a {
          padding-left: 0;
        }
      }
}

@media screen and (max-width: 415px) {
    .abouttext{
        padding-top: 3rem;
        width: 90%;
        margin: 0 auto;
    }
    
    .bio {
        flex-direction: column;
    }

    .biobox {
        width: 100%;

        img {
            margin: 0 auto;
            width: 100%;
            padding-bottom: 1rem;
        }
    }

    .textbox {
        width: 100%;
        padding-bottom: 1rem auto;
    }

}